.search-field:focus 
{
	outline: none;
}
#results
{
	display: none;
}
#resContent
{
	background: #fff;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 87%;
	height: 250px;
	overflow-x: hidden;
	z-index: 999;
}

#resContent li
{
	list-style-type: none;
	padding: 4px 15px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	border-top: solid 1px #F1F1F1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#resContent::-webkit-scrollbar {
  width: 5px;
}

#resContent::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

#resContent::-webkit-scrollbar-thumb {
  background: #888; 
}

#resContent::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.footMenu
	{
		display: none;
		background: #FFC500;
		padding: 15px;
		width: 100%;
		position: fixed;
		z-index: 999;
		left: 0;
		bottom: 0;
	}
.footMenu ul li 
{
	list-style-type: none;
		display: inline-block;
		/*
		padding: 0px 26px;
		font-size: 22px;
		*/
		float: left;
		width: 25%;
		font-size: 22px;
		text-align: center;
}
.color-thumb
{
	padding: 6px;
	margin-top: 15px;
	float: left;
	margin-left: 6px;
}
.actv1
{
	border: solid 1px #0081F3;
	border-radius: 15px;
}
.cp
{
	cursor: pointer !important;
}
.wishbtn:hover
{
	color: #f00;
}
section.login
{
	margin: 12%;
}

.justify-content-center
{
	display: flex;
  	justify-content: center;
}
.card
{
	background:#fff;
	width: 100%;
}
.card .card-title
{
	border-bottom: solid 1px #ccc;
	padding: 8px;
}
.card .card-title h4
{
	font-weight: bold;
	font-style: italic;
	color: #000;
}
.card .card-body
{
	padding: 15px;
}
.inpDanger
{
	border:solid 1px #f00;
}
.inpDanger::placeholder
{
	color: #f00;
}
.toastMsg
{
	position: fixed;
	z-index: 1001;
	bottom: 70px;
	margin-left:45%; 


}
.Msgs
{
	padding: 8px 20px;
	background: rgba(0,0,0,0.75);
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
}
.mob-header
{
	display: none;
}
.mobSpace
{
	display: none;
}
/*-- rating--*/
.rating-stars {
  width: 100%;
  text-align: center; }
  .rating-stars .rating-stars-container {
    font-size: 0px; }
    .rating-stars .rating-stars-container .rating-star {
      display: inline-block;
      font-size: 22px;
      cursor: pointer;
      padding: 4px 8px;
      color: #ababab; }
      .rating-stars .rating-stars-container .rating-star.is--active .fa-heart, .rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
        color: #fb0d00; }
      .rating-stars .rating-stars-container .rating-star.sm {
        display: inline-block;
        font-size: 14px;
        color: #ababab;
        cursor: pointer;
        padding: 5px; }
      .rating-stars .rating-stars-container .rating-star.is--active, .rating-stars .rating-stars-container .rating-star.is--hover {
        color: #ffb400; }
      .rating-stars .rating-stars-container .rating-star.is--no-hover, .rating-stars .rating-stars-container .rating-star .fa-heart .is--no-hover {
        color: #ababab; }
      .rating-stars .rating-stars-container .rating-star.is--active, .rating-stars .rating-stars-container .rating-star.is--hover {
        color: #ffb400; }
@media only screen and (max-width: 1980px)
{
.footMenu
	{
		display: none;
		
	}
}

@media only screen and (max-width: 991px) 
{
	#mob-view
	{
		display: none !important;
	}

	.footMenu
	{
		display: block;
		
	}
	.footMenu ul li 
	{
		list-style-type: none;
		display: inline-block;
		/*
		padding: 0px 26px;
		font-size: 22px;
		*/
		float: left;
		width: 25%;
	}

	.item
	{
		text-align: center !important;
		margin-top: 15px;
	}
	.mobSpace
	{
		display: block;
	}
	.mobSpace .search-area
	{
		display: block;
		position: relative;
		top:55px;
		left: 0;
		width: 100%;
		padding: 15px;
		
	}
	.mobSpace .search-area {
	  -webkit-border-radius: 0px;
	  -moz-border-radius: 0px;
	  border-radius: 0px;
	  margin: 8px 0 0;
	  background:#fff;
	  border-radius:2px;
	}
	.mobSpace .search-area .search-field {
	  border: medium none;
	  -webkit-border-radius: 5px 0 0 5px;
	  -moz-border-radius: 5px 0 0 5px;
	  border-radius: 5px 0 0 5px;
	  padding: 14px;
	  width: 67%;
	}
	.mobSpace .search-area .search-button {
	  border-radius: 0px 3px 3px 0px;
	  display: inline-block;
	  float: right;
	  margin: 0px;
	  padding: 13px 19px 13px;
	  text-align: center;
	    background-color: #fdd922;
	    border: 1px solid #e0bc27;
	}
	.mobSpace .search-area .search-button:after {
	  color: #333;
	  content: "\f002";
	  font-family: fontawesome;
	  font-size: 16px;
	  line-height: 9px;
	  vertical-align: middle;
	}
	.mob-header
	{
		width: 100%;
		padding: 8px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		background: #336EFF;
		display: block;
	}
	.mob-header .mob-nav
	{
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
	.mob-header .mob-nav i
	{
		font-size: 30px;
		color: #fff;
	}
	.cols-2
	{
		float: left;
		width: 16.666666;
		padding: 4px 12px;
	}
	.cols-10
	{
		float: left;
		width: 83.333333;
		padding: 4px 12px;

	}
	.tabmenu
	{
		width: 350px;
		background: #fff;
		height: 100%;
		position: fixed;
		left: -350px;
		top:64px;
		z-index: 999;
		display: block;
	}
	.prof
	{
		padding: 10px 15px;
		border-bottom: solid 1px #336EFF;
		width: 100%;
	}
	.prof .circle
	{
		width: 65px;
		height: 65px;
		border:solid 2px #336EFF;
		border-radius: 50%;
		text-align: center;
		font-size: 30px;
		line-height: 60px;
	}
	.tmenu
	{
		padding: 15px;
	}
	.tmenu .navbar-nav li a
	{
		font-size: 16px;
		font-weight: bold;
	}
	.tmenu .yamm-content
	{
		margin-left: 20px: 
	}
	.header-style-1
	{
		background: transparent;
	}

	#results2
{
	display: none;
}
#resContent2
{
	background: #fff;
	padding: 0;
	margin-top: 30;
	position: absolute;
	width: 87%;
	height: 250px;
	overflow-x: hidden;
	z-index: 999;
}

#resContent2 li
{
	list-style-type: none;
	padding: 4px 15px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	border-top: solid 1px #F1F1F1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#resContent2::-webkit-scrollbar {
  width: 5px;
}

#resContent2::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

#resContent2::-webkit-scrollbar-thumb {
  background: #888; 
}

#resContent2::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

}


@media only screen and (max-width: 375px)
{
	.footMenu ul li 
	{
		list-style-type: none;
		display: inline-block;
		/*
		padding: 0px 26px;
		font-size: 22px;
		*/
		float: left;
		width: 25%;
	}
	.item
	{
		text-align: center !important;
		margin-top: 15px;
	}
	.mob-header .mob-nav
	{
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
} 

@media only screen and (max-width: 414px)
{
	.footMenu ul li 
	{
		list-style-type: none;
		display: inline-block;
		/*
		padding: 0px 26px;
		font-size: 22px;
		*/
		float: left;
		width: 25%;
	}
	.item
	{
		text-align: center !important;
		margin-top: 15px;
	}

	.mob-header .mob-nav
	{
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
} 


 