.btns-warn
{
	color: #fff;
	background: #FF7400;
}
.btns-warn:hover
{
	color: #fff;
	background: #FFAE00;
}
.btns-warn:focus
{
	outline: none;
}
.fq
{
	padding: 10px 18px;
	border:solid 1px #ccc;
	border-radius: 6px;
	box-shadow: 2px 2px 15px grey;
	margin-bottom: 25px;
	width: 100%;
}
.fq .qs
{
	display: inline-block;
	padding: 3px 6px;
	font-size: 16px;
	font-style: italic;
	color: #DE8600;
	width: 100%;
}
.fq .ans
{
	display: inline-block;
	padding: 3px 6px;
	font-size: 14px;
	font-style: italic;
	color: #0043DE;
	width: 100%;
}
.cols2-2
{
	float: left;
	width: 16.6666%;
	padding: 6px 10px;
}

.cols2-10
{
	float: left;
	width: 60.3334%;
	padding: 6px 25px;
}
.proDetails
{
	padding: 0 15px;
	text-align: left;
}
.search-field:focus 
{
	outline: none;
}
#results
{
	display: none;
}
#resContent
{
	background: #fff;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 87%;
	height: 250px;
	overflow-x: hidden;
	z-index: 999;
}

#resContent li 
{
	list-style-type: none;
	padding: 4px 15px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	border-top: solid 1px #F1F1F1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#resContent::-webkit-scrollbar {
  width: 5px;
}

#resContent::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

#resContent::-webkit-scrollbar-thumb {
  background: #888; 
}

#resContent::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.footMenu
	{
		display: none;
		background: #FFC500;
		padding: 15px;
		width: 100%;
		position: fixed;
		z-index: 999;
		left: 0;
		bottom: 0;
	}
.footMenu .btm li 
{
	list-style-type: none;
		display: inline-block;
		/*
		padding: 0px 26px;
		font-size: 22px;
		*/
		float: left;
		width: 25%;
		font-size: 22px;
		text-align: center;
}
.footMenu .hasSub .subBtmMenu
{
	position: absolute;
	bottom: -280px;
	background: #fff;
	z-index: 999;
	padding: 6px;
	margin: 0;
	box-shadow: 2px 0px 15px grey;
	height: 180px;

}
.footMenu .hasSub .subBtmMenu li
{
	font-size: 16px;
	display: list-item;
	padding: 6px;
	width: 100%;
	border-bottom: solid 1px #ccc;

}
.color-thumb
{
	padding: 6px;
	margin-top: 15px;
	float: left;
	margin-left: 6px;
}
.actv1
{
	border: solid 1px #0081F3;
	border-radius: 15px;
}
.cp
{
	cursor: pointer !important;
}
.wishbtn:hover
{
	color: #f00;
}
section.login
{
	margin: 12%;
}

.justify-content-center
{
	display: flex;
  	justify-content: center;
}
.card
{
	background:#fff;
	width: 100%;
}
.card .card-title
{
	border-bottom: solid 1px #ccc;
	padding: 8px;
}
.card .card-title h4
{
	font-weight: bold;
	font-style: italic;
	color: #000;
}
.card .card-body
{
	padding: 15px;
}
.inpDanger
{
	border:solid 1px #f00;
}
.inpDanger::placeholder
{
	color: #f00;
}
.toastMsg
{
	position: fixed;
	z-index: 1001;
	bottom: 70px;
	margin-left:45%; 


}
.Msgs
{
	padding: 8px 20px;
	background: rgba(0,0,0,0.75);
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-size: 18px;
	border-radius: 40px;
}
.mob-header
{
	display: none;
}
.mobSpace
{
	display: none;
}
.cardDiv
{
	width: 50%;
	float: left;
	padding: 8px;
	margin-bottom: 75px;
	margin-top: 15px;
}
.cardDiv2
{
	width: 60%;
	float: left;
	padding: 8px;
	margin-bottom: 75px;
	margin-top: 15px;
}
.deskSide
{
	padding: 8px;
	margin-bottom: 75px;
	margin-top: 15px;
}
.deskSidemenu 
{
	padding: 0; margin:0;
}
.deskSidemenu li
{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 16px;
	font-weight: bold;
	color: #F57B00;
}
.deskSidemenu li a
{
	color: #005DF5;
}
.deskSidemenu li a.active
{
	color: #F5A300;
}
.ordTable
{
	width: 100%;
}
.ordTable th
{
	padding:15px;
	font-size: 16px;
	border-bottom: 1px solid #ccc;
}
.ordTable td
{
	padding: 12px 15px;
	font-size: 13px;
	word-wrap: break-word;
}
.badge-success
{
	background: #090;
	color: #fff;
}
.badge-warning
{
	background: #F57300;
	color: #fff;
}
.badge-danger
{
	background: #f00;
	color: #fff;
}
.smallUper
{
	font-size: 10px;
	display: inline-block;

}
.tbl
{
	width: 100%;
}
.tbl-brd th
{
	padding: 6px 15px;
	border:solid 1px #ccc;
}
.tbl-brd td
{
	padding: 6px 15px;
	border:solid 1px #ccc;
}
.ordStatus
{
	padding: 10px 15px;
	text-align: center;
}
.tbl-brd td:last-child
{
	text-align: right;
}
.nobrd
{
	border:none !important;
}
ol.progtrckr {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3em;
    }

    ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
    ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
    ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
    ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
    ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
    ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
    ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
    ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; }

    ol.progtrckr li.progtrckr-done {
        color: black;
        border-bottom: 4px solid yellowgreen;
    }
    ol.progtrckr li.progtrckr-todo {
        color: silver; 
        border-bottom: 4px solid silver;
    }

    ol.progtrckr li:after {
        content: "\00a0\00a0";
    }
    ol.progtrckr li:before {
        position: relative;
        bottom: -2.5em;
        float: left;
        left: 50%;
        line-height: 1em;
    }
    ol.progtrckr li.progtrckr-done:before {
        content: "\2713";
        color: white;
        background-color: yellowgreen;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        border: none;
        border-radius: 1.2em;
    }
    ol.progtrckr li.progtrckr-todo:before {
        content: "\039F";
        color: silver;
        background-color: white;
        font-size: 1.5em;
        bottom: -1.6em;
    }

/*-- rating--*/
.rating-stars {
  width: 100%;
  text-align: center; }
  .rating-stars .rating-stars-container {
    font-size: 0px; }
    .rating-stars .rating-stars-container .rating-star {
      display: inline-block;
      font-size: 22px;
      cursor: pointer;
      padding: 4px 8px;
      color: #ababab; }
      .rating-stars .rating-stars-container .rating-star.is--active .fa-heart, .rating-stars .rating-stars-container .rating-star.is--hover .fa-heart {
        color: #fb0d00; }
      .rating-stars .rating-stars-container .rating-star.sm {
        display: inline-block;
        font-size: 14px;
        color: #ababab;
        cursor: pointer;
        padding: 5px; }
      .rating-stars .rating-stars-container .rating-star.is--active, .rating-stars .rating-stars-container .rating-star.is--hover {
        color: #ffb400; }
      .rating-stars .rating-stars-container .rating-star.is--no-hover, .rating-stars .rating-stars-container .rating-star .fa-heart .is--no-hover {
        color: #ababab; }
      .rating-stars .rating-stars-container .rating-star.is--active, .rating-stars .rating-stars-container .rating-star.is--hover {
        color: #ffb400; }
.star-orange
{
	color: #ffb400;
}
.star-grey
{
	color: grey;
}
@media only screen and (max-width: 1980px)
{
.footMenu
	{
		display: none;
		
	}
}

@media only screen and (max-width: 991px) 
{
	.deskSide
	{
		display: none;
	}
	.cardDiv
{
	width: 100%;
	float: left;
	padding: 8px;
	margin-bottom: 75px;
	margin-top: 15px;
}

.cardDiv2
{
	width: 100%;
	float: left;
	padding: 8px;
	margin-bottom: 75px;
	margin-top: 15px;
}
	#mob-view
	{
		display: none !important;
	}

	.footMenu
	{
		display: block;
		
	}
	.footMenu ul li 
	{
		list-style-type: none;
		display: inline-block;
		/*
		padding: 0px 26px;
		font-size: 22px;
		*/
		float: left;
		width: 25%;
	}

	.item
	{
		text-align: center !important;
		margin-top: 15px;
	}
	.mobSpace
	{
		display: block;
	}
	.mobSpace .search-area
	{
		display: block;
		position: relative;
		top:55px;
		left: 0;
		width: 100%;
		padding: 15px;
		
	}
	.mobSpace .search-area {
	  -webkit-border-radius: 0px;
	  -moz-border-radius: 0px;
	  border-radius: 0px;
	  margin: 8px 0 0;
	  background:#fff;
	  border-radius:2px;
	}
	.mobSpace .search-area .search-field {
	  border: medium none;
	  -webkit-border-radius: 5px 0 0 5px;
	  -moz-border-radius: 5px 0 0 5px;
	  border-radius: 5px 0 0 5px;
	  padding: 14px;
	  width: 67%;
	}
	.mobSpace .search-area .search-button {
	  border-radius: 0px 3px 3px 0px;
	  display: inline-block;
	  float: right;
	  margin: 0px;
	  padding: 13px 19px 13px;
	  text-align: center;
	    background-color: #fdd922;
	    border: 1px solid #e0bc27;
	}
	.mobSpace .search-area .search-button:after {
	  color: #333;
	  content: "\f002";
	  font-family: fontawesome;
	  font-size: 16px;
	  line-height: 9px;
	  vertical-align: middle;
	}
	.mob-header
	{
		width: 100%;
		padding: 8px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		background: #336EFF;
		display: block;
	}
	.mob-header .mob-nav
	{
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
	.mob-header .mob-nav i
	{
		font-size: 30px;
		color: #fff;
	}
	.cols-2
	{
		float: left;
		width: 16.666666%;
		padding: 4px 12px;
	}
	.cols-10
	{
		float: left;
		width: 83.333333%;
		padding: 4px 12px;

	}
	.tabmenu
	{
		width: 350px;
		background: #fff;
		height: 100%;
		position: fixed;
		left: -350px;
		top:64px;
		z-index: 999;
		display: block;
	}
	.prof
	{
		padding: 10px 15px;
		border-bottom: solid 1px #336EFF;
		width: 100%;
	}
	.prof .circle
	{
		width: 65px;
		height: 65px;
		border:solid 2px #336EFF;
		border-radius: 50%;
		text-align: center;
		font-size: 30px;
		line-height: 60px;
	}
	.tmenu
	{
		padding: 15px;
	}
	.tmenu .navbar-nav li a
	{
		font-size: 16px;
		font-weight: bold;
	}
	.tmenu .yamm-content
	{
		margin-left: 20px: 
	}
	.header-style-1
	{
		background: transparent;
	}

	#results2
{
	display: none;
}
#resContent2
{
	background: #fff;
	padding: 0;
	margin-top: 30;
	position: absolute;
	width: 87%;
	height: 250px;
	overflow-x: hidden;
	z-index: 999;
}

#resContent2 li
{
	list-style-type: none;
	padding: 4px 15px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	border-top: solid 1px #F1F1F1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#resContent2::-webkit-scrollbar {
  width: 5px;
}

#resContent2::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

#resContent2::-webkit-scrollbar-thumb {
  background: #888; 
}

#resContent2::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

}


@media only screen and (max-width: 375px)
{
	.footMenu ul li 
	{
		list-style-type: none;
		display: inline-block;
		/*
		padding: 0px 26px;
		font-size: 22px;
		*/
		float: left;
		width: 25%;
	}
	.item
	{
		text-align: center !important;
		margin-top: 15px;
	}
	.mob-header .mob-nav
	{
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
} 

@media only screen and (max-width: 414px)
{
	.footMenu ul li 
	{
		list-style-type: none;
		display: inline-block;
		/*
		padding: 0px 26px;
		font-size: 22px;
		*/
		float: left;
		width: 25%;
	}
	.item
	{
		text-align: center !important;
		margin-top: 15px;
	}

	.mob-header .mob-nav
	{
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
	}
} 


 